<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

  {{ partial "head.html" . }}

  <body>

    <div id="all">

        <header>

          {{ partial "nav.html" . }}

        </header>

        {{ partial "breadcrumbs.html" . }}


        <div id="content">
          <div class="container">

          <div class="row">
            <div class="col-md-12">
              <div class="heading">
                <h2>Faculty</h2>
              </div>
              <div class="row text-center">

                {{ range .Site.Data.people }}
                <div class="col-md-3">
                  <div class="team-member">
                    <div class="image"><a href="#"><img src="{{ .avatar | absURL }}" alt="" class="img-responsive rounded-circle"></a></div>
                    <h3><a href="team-member.html">{{ .name }}</a></h3>
                    <p class="role">{{ .position }}</p>
                    <div class="text">
                      <p>{{ .text | markdownify }}</p>
                    </div>
                  </div>
                </div>
                {{ end }}

              </div>
            </div>
          </div>


          <div class="row">
            <div class="col-md-12">
              <div class="heading">
                <h2>PostDocs</h2>
              </div>
              <div class="row text-center">

                {{ range .Site.Data.postdocs }}
                <div class="col-md-2 col-sm-3">
                  <div class="team-member">
                    <div class="image"><a href="#"><img src="{{ .avatar | absURL }}" alt="" class="img-responsive rounded-circle-sm"></a></div>
                    <h3><a href="team-member.html">{{ .name }}</a></h3>
                    <p class="role">{{ .position }}</p>
                  </div>
                </div>
                {{ end }}

              </div>
            </div>
          </div>



          <div class="row">
            <div class="col-md-12">
              <div class="heading">
                <h2>PhD Students</h2>
              </div>
              <div class="row text-center">

                {{ range .Site.Data.phd }}
                <div class="col-md-2 col-sm-3">
                  <div class="team-member">
                    <div class="image"><a href="#"><img src="{{ .avatar | absURL }}" alt="" class="img-responsive rounded-circle-sm"></a></div>
                    <h3><a href="team-member.html">{{ .name }}</a></h3>
                  </div>
                </div>
                {{ end }}

              </div>
            </div>
          </div>



        </div>
      </div>

        <!-- /#content -->

        {{ partial "footer.html" . }}

    </div>
    <!-- /#all -->

    {{ partial "scripts.html" . }}

  </body>
</html>
